body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
}

#display {
  font-size: 30px;
  font-weight: bold;
  width: 300px;
  border: none;
  margin: 10px;
}

.btn {
  display: flex;
  background: #bcbec4;
  width: 300px;
}

.numbers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  max-width: 70%;
  /* margin: 10px; */
  /* background: red; */
}

.num {
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
  padding: 20px;
  border-radius: 10px;
  border: #c6c8cd;
  background: #9ca0ab;
  color: white;
}

.num:hover {
  background: #caccd4c5;
  cursor: pointer;
}

.num:active {
  background: #5f6575;
}

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
}

.ope {
  font-size: 20px;
  font-weight: bold;
  margin-left: 0;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #ffe334;
  color: black;
}

.ope:hover {
  background: #f9ea86da;
  cursor: pointer;
}

.ope:active {
  background: #e0c30f;
}